@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/assets/fonts/GlacialIndifference-Regular.woff') format('woff2'),
         url('/assets/fonts/GlacialIndifference-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('/assets/fonts/GlacialIndifference-Bold.woff2') format('woff2'),
         url('/assets/fonts/GlacialIndifference-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Glacial Indifference Italic';
    src: url('/assets/fonts/GlacialIndifference-Italic.woff2') format('woff2'),
         url('/assets/fonts/GlacialIndifference-Italic.woff') format('woff');
}

@font-face {
  font-family: 'calligraphy';
  src: url('/assets/fonts/Calligraphy.woff2') format('woff2'),
       url('/assets/fonts/Calligraphy.woff') format('woff');
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}

.text-5xl {
    font-size: 2.625rem;
    line-height: 2.25rem;
}

.w-3\/5 {
    width: 60%;
}

.a {
    border: solid;
}

* {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: medium;
}

body {
  font-family: 'Glacial Indifference', sans-serif;
}

.sticky {
  @apply fixed z-[9999] bg-white bg-opacity-80 transition uppercase font-bold;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sticky .navbar-logo {
  @apply py-2;
}

.sticky #navbarToggler span {
  @apply bg-dark;
}

.sticky #navbarCollapse li a {
  @apply text-dark hover:text-primary hover:opacity-100;
}
#navbarCollapse li .ud-menu-scroll.active {
  
  @apply opacity-70;
}
.sticky #navbarCollapse li .ud-menu-scroll.active {
  @apply text-primary opacity-100;
}
.sticky .loginBtn {
  @apply text-dark hover:text-primary hover:opacity-100;
}

.sticky .signUpBtn {
  @apply bg-primary text-white hover:bg-dark hover:text-white;
}

.navbarTogglerActive > span:nth-child(1) {
  @apply top-[7px] rotate-45 transform;
}
.navbarTogglerActive > span:nth-child(2) {
  @apply opacity-0;
}
.navbarTogglerActive > span:nth-child(3) {
  @apply top-[-8px] rotate-[135deg];
}

.onTop {
  @apply uppercase font-bold;
  background-color: #003341;
}

.onTop .navbar-logo {
  @apply py-2;
}

#experiences .container{
  background-image: url('/assets/images/experiences/back.webp');
}

.activeButton{
  @apply bg-primary text-white;
}

.bookingFixed{
  @apply fixed top-0 right-6 z-[9999]  transition;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}
